

.faq{
    border: 6px double black;
}

.faqItem{
    border: 1px double black;

    
}

.faqQUEST{
    padding: 15px;
    background-color: rgba(7, 12, 14, 0.896);
    cursor: pointer; /* add cursor style */
    color: white;

}

.faqANS{
    background-color: gray;
    padding: 15px;
    border-top: 2px solid black;
    display: none;
    font-weight: 600;
}

.addANS{
    display: block;
}